
  .container-fluid{
    display: flex;   
    text-align: center;
  
    width: 100%;
    height: 100%;
      font-family: 'Signika Negative', sans-serif;
       background-image: url("/imagenes/odo.png");
       
      
      box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 8px;
      padding-bottom: 9%;
  }
  
  .registrarse{
    color: #FE9201;
  }
  
  .inputContainer {
    margin: 15px;
    box-shadow: 0px 6px 6px #00000017;
    background-color: white;
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
    border-radius: 7px;
   
  }

  .logo{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 300px;
    height: 300px;
}

  /* Style the inputs */
  
  .input {
    position: absolute;
    
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
  /* Hide the placeholder texts (a) */
  
  ::placeholder {
    color: transparent;
  }
  /* Styling text labels */
  
  .label {
    position: absolute;
    top: 7px;
    left: 35px;
    padding: 4px;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }
  
  .todavia, .contraseña{
    color: #747474;
    text-decoration-line: none;
  }
  
  .input:focus + .label{
    color: transparent;
    
  }
  .input:focus {
    border: 2px solid rgb(255, 153, 0);
  }
  .input:not(:placeholder-shown)+ .label {
   color: transparent;
  }
  
  
  .todavia:hover{
  
    color: rgba(14, 14, 14, 0.575);}
  
    .contraseña:hover{
  
      color: rgba(14, 14, 14, 0.575);}
     
      .logo{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 300px;
        height: 300px; }
 
  