body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url("/imagenes/odo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
  }
  
  .signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Signika Negative', sans-serif;
  }

  
  
  .form {
    height: 100%;
   
    width: 100%;
    border-radius: 8px;
    padding: 20px 40px;
    position: absolute;
  }
 
  
  
  .container3 {
    position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;  
  text-shadow: rgba(255, 255, 255, 0.432) 0px 54px 55px, rgba(255, 255, 255, 0.336) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(185, 185, 185, 0.479) 0px 12px 13px, rgba(209, 209, 209, 0.404) 0px -3px 5px;
 
  }

  .container5 {
    text-shadow: rgba(255, 255, 255, 0.432) 0px 54px 55px, rgba(255, 255, 255, 0.336) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(185, 185, 185, 0.479) 0px 12px 13px, rgba(209, 209, 209, 0.404) 0px -3px 5px;
    position: relative;
  margin-bottom: 30px;
  }
  
  /*ajustes hechos por mi en el icono*/
  .container{
  flex-direction: column;
  }
  .icono{
    height: 40px;
    width: 50px;
     
  }
  
  .container1{
    align-items: flex-start;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }
  
  .iconos{
    height: 100px;
    width: 130px;
  }
  
  /*termina aquí ajustes hechos por mi en el icono*/
  
 
  
  

  
  @media screen and (max-width: 900px) { .submitBtn { width: none; } } 
  @media screen and (min-width: 900px) { .submitBtn { width: 77%; } } 
  
  .submitBtn:hover {
  background-color: #FF8900;
  transform: translateY(-2px);
  }
  
  .icono{
    color: black;
  }
  
  
  
  
  
  
 
  
  
  
  @media screen and (max-width: 900px) { p { font-size: 13px; } } 
  @media screen and (min-width: 900px) { p { font-size: 20px; } } 
  
  .verde{
    color: #008F01;
  }

#imagen{
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    position: absolute;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
  